// NAVIGATION

// font-family: 'DM Sans', sans-serif;
// font-family: 'Poppins', sans-serif;

html,
body {
    font-family: 'DM Sans', sans-serif;
}

.container {
    margin: 0 auto;

    padding: 0 15px;
    max-width: 1200px;
}

// LOGO

.logo {

    font-family: 'Poppins', sans-serif;

    color: inherit;
    font-size: 24px;
}

// NAV

.nav {

    padding: 20px 0;

    background-color: #171718;
    color: #ffffff;
    border-bottom: 1px solid #26292D;

    &__row {

        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 40px;
        row-gap: 20px;
        flex-wrap: wrap;
    }

    &__list {

        font-family: 'Poppins', sans-serif;

        display: flex;
        align-items: center;

        column-gap: 40px;
        font-size: 16px;
        font-weight: 500;
    }

    &__list-link {

        color: #ffffff;
    }

    &__list-link--active {
        position: relative;


        &::before {
            content: "";

            position: absolute;
            left: 0;
            top: 100%;

            display: block;
            height: 2px;
            width: 100%;

            background-color: #5C62EC;
        }

    }
}