.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &--column {
        flex-direction: column;

        .article {
            max-width: none;
        }
    }
}



.article {
    width: clamp(250px, 45vw, 600px);

    @media (max-width: 520px) {
        width: 100%;
    }

    margin-bottom: 40px;

    &__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 1.16;
        color: #2c2c2c;
        margin-bottom: 15px;

        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__content {
        font-size: 15px;
        line-height: 1.4;
        color: #585858;
        margin-bottom: 10px;
    }

    &__date {
        font-size: 12px;
        line-height: 1.75;
        color: #6e6e6e;
    }
}