.section--team {
    background-color: #F9F9F9;
}

.team {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -22px;

    @media (max-width: 767px) {
        margin: 0;
    }

    justify-content: center;
}

.person-card {
    width: clamp(320px, 32vw, 414px);
    padding: 22px;

    &__photo {
        box-shadow: 10px 5px 13px rgba(0, 0, 0, 0.16);
        margin-bottom: 13px;
    }

    &__name {
        font-family: 'Lato', 'sans-serif';
        font-weight: 900;
        font-size: 18px;
        line-height: 1.2;
        color: #2c2c2c;
        margin-bottom: 5px;
    }

    &__description {
        line-height: 1.4;
        color: #585858;
        margin-bottom: 11px;
    }

    &__link-container {
        display: flex;

        &:not(:last-child) {
            margin-bottom: 9px;
        }
    }

    &__link-icon {
        width: 16px;
        margin-right: 9px;
    }

    &__link {
        font-size: 14px;
        line-height: 1.5;
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}