.brand-carousel {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  gap: 32px;
  align-items: center;

  &__content {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    padding: 0 0 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
}

.left-arrow,
.right-arrow {
  border: 2px solid #efefef;
  border-radius: 50%;
  cursor: pointer;

  @media (max-width: 1200px) {
    display: none;
  }

  &-icon {
    width: 32px;
    max-width: unset;
    height: 32px;
    padding: 6px;
  }
}

.left-arrow {
  transform: rotate(180deg);
}

.brand {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 7.5vw;
  min-width: 100px;
  max-width: 130px;
  padding-top: 1rem;
  text-decoration: none;
  transition: background-color 0.2s ease-out;

  &:hover {
    background-color: #eee;
  }

  &__image {
    position: relative;
    margin-bottom: 6px;
    padding: 0 0 50%;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    color: #333;
    font-weight: 400;
    font-size: 1.15rem;
    text-align: center;
  }
}
