.request-form {
    max-width: 400px;
    background-color: #004AF2;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;

    &__header {
        background-color: #033FC9;
        padding: min(3vw, 20px) min(5vw, 30px);
    }

    &__title {
        color: white;
        font-weight: bold;
        font-size: 30px;
        line-height: 1.6;
    }

    &__description {
        color: white;
    }

    &--intro {
        position: relative;
        bottom: -30px;

        @media (max-width: 767px) {
            position: static;
            order: 2;
        }
    }

    &--blog {
        margin-left: auto;

        @media (max-width: 767px) {
            margin: 0;
        }
    }
}

.form {
    padding: min(3vw, 20px) min(5vw, 30px);

    .input {
        display: block;
        width: 100%;

        background-color: unset;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, .25);
        padding-bottom: 10px;
        padding-left: 38px;
        margin-bottom: 25px;

        font-size: 16px;
        color: white;

        transition: border-color .2s linear;

        &::placeholder {
            color: white;
        }

        &:focus {
            outline: none;
            border-bottom-color: white;
        }



        &--user {
            background-image: url("@img/form-user-icon.svg");
            background-repeat: no-repeat;
            background-position: left 12px top 4px;
        }

        &--phone {
            background-image: url("@img/form-phone-icon.svg");
            background-repeat: no-repeat;
            background-position: left 12px top 4px;
        }

        &--email {
            background-image: url("@img/form-email-icon.svg");
            background-repeat: no-repeat;
            background-position: left 12px top 8px;
        }
    }
}